extends ../layout

block content
	.ui.container
		.ui.centered.center.aligned.grid.stackable
			if user
				.column.ten.wide
					.ui.card.orange(style="width:100%")
						.content
							.left.floated.header Account Details
							.right.floated.author
								img.ui.avatar.image(src='/images/matt.jpg')
								|  #{user.name}
							.left.floated.meta(style="clear:both;")
								span.category #{user.type}
							.description
								table.ui.very.basic.table
									tbody
										tr
											td Email
											td.right.aligned #{user.email}
										tr
											td Name
											td.right.aligned #{user.name}
										tr 
											td Balance
											td.right.aligned #{user.balance}
				.column.ten.wide
					table.table.ui.selectable.celled.table.orange.unstackable.structured
						thead
							th Games Played
							th Balance
							th Profit/Loss
						tbody
							each game, i in user.game
								- var stocks=0
								- each stock, j in game.buy
									- stocks+=stock.price*stock.quantity
								tr
									td #{game.gameId}
									td #{Math.round(game.balance+stocks)}
									td(class= ( game.profit > 0 ? 'positive': ( game.profit < 0 ? 'negative': '') )) #{Math.round(game.profit)}

	.ui.container(style="margin:3% 0%")
		.ui.grid.centered.center.aligned
			.column.ui.grid.ten.wide.computer.only.sixteen.wide.mobile.tablet.only
				h3.ui.block.header.segment.top.attached Prediction Model
		.ui.grid.centered.center.aligned
			.column.ui.grid.ten.wide.computer.only.sixteen.wide.mobile.tablet.only
				.five.ui.buttons
					a.ui.button.primary(href="/admin/prepare") Prepare Simulation
					a.ui.button.green(href="/admin/start") Start Prediction
					a.ui.button.red(href="/admin/stop") Stop Prediction
	.ui.container(style="margin:3% 0%")
		.ui.grid.centered.center.aligned
			.column.ui.grid.ten.wide.computer.only.sixteen.wide.mobile.tablet.only
				h3.ui.block.header.segment.top.attached Game Model
		.ui.grid.centered.center.aligned
			.column.ui.grid.ten.wide.computer.only.sixteen.wide.mobile.tablet.only
				.five.ui.buttons
					a.ui.button.primary Enter Match Id
					a.ui.button.green(href="/admin/gameon") Start Game
					a.ui.button.red(href="/admin/gameoff") Stop Game