extends ../layout

block content
	.ui.grid.tablet.computer.only
		.ui.container.ten.wide.centered.column.matchHeader
			h3.ui.horizontal.divider.header
					i.line.chart.icon
					| Match Prediction
		if !user
			.ui.container.eight.wide.centered.column.center.aligned
				.ui.warning.message
					i.close.icon
					.header
						| The following predictions are refreshed every minute!
					| Please  
					span
						a(style="text-decoration:underline" href="/users/register") register
					|  or 
					span
						a(style="text-decoration:underline" href="/users/login") login
					|  to get live predictions.
	.ui.mobile.only.grid.center.aligned
		.ui.container.tablet.matchHeader
			h5 Match Prediction
		if !user
			br
			.ui.container
				.ui.warning.message(style="font-size:12px")
						i.close.icon
						.header
							| The following predictions are refreshed every minute!
						| Please  
						span
							a(style="text-decoration:underline" href="/users/register") register
						|  or 
						span
							a(style="text-decoration:underline" href="/users/login") login
						|  to get live predictions.
	br
	br
	.ui.container
		.ui.grid.stackable
			.row
				.column.six.wide.computer.only.sixteen.wide.tablet.mobile.only.grid
					.ui.grid.stackable.centered
						.row
							.column.sixteen.wide.computer.only.ten.wide.tablet.only.grid
								table.ui.table.orange.unstackable
									thead
										tr
											th Team
											th Actual Score
											th Win Probability
											th Implied Odds
											th Predicted Score
									tbody
										tr
											td.team1name  ..
											td.team1actual  ..
											td.team1winprob  ..
											td.team1odds  ..
											td.team1pred  ..
										tr
											td.team2name ..
											td.team2actual ..
											td.team2winprob ..
											td.team2odds ..
											td.team2pred ..
								br
							.column.sixteen.wide.mobile.only.grid
								table.ui.table.small.definition.unstackable.orange
									tbody
										tr
											td Team
											td.team1name  ..
											td.team2name  ..
										tr
											td Actual Score
											td.team1actual  ..
											td.team2actual  ..
										tr
											td Win Probability
											td.team1winprob  ..
											td.team2winprob ..
										tr
											td Implied Odds
											td.team1odds  ..
											td.team2odds ..
										tr
											td Predicted Score
											td.team1pred  ..
											td.team2pred ..
							.column.sixteen.wide.computer.only.six.wide.tablet.only.grid
								.ui.styled.fluid.accordion
									.title.active
										i.dropdown.icon
										|	Live Win Probability
									.content.active
										.ui.grid.stackable.centered.transition.visible
											.column.ten.wide.computer.only.thirteen.wide.tablet.only.grid
												canvas.winprobcanvas
				.column.ten.wide.computer.only.sixteen.wide.tablet.mobile.only.grid
					.ui.grid.stackable.centered
						.row
							.column.sixteen.wide.firstInningsProb.computer.tablet.only.grid
								.ui.styled.fluid.accordion
									.title.active
										i.dropdown.icon
										|     First Innings Score Probability
									.content.active
										table.ui.table.orange.transition.visible(style="display: table !important;")
											thead
												tr
													th First Innings Score
													th.prob1value ..
													th.prob2value ..
													th.prob3value ..
													th.prob4value ..
													th.prob5value ..
													th.prob6value ..
													th.prob7value ..
											tbody
												tr
													td Probability
													td.prob1percent ..
													td.prob2percent ..
													td.prob3percent ..
													td.prob4percent ..
													td.prob5percent ..
													td.prob6percent ..
													td.prob7percent ..
							.column.twelve.wide.firstInningsProb.mobile.only.grid
								table.ui.table.small.unstackable.definition.orange
									tbody
										tr
											td First Innings Score
											td Probability
										tr
											td.prob1value ..
											td.prob1percent ..
										tr
											td.prob2value ..
											td.prob2percent ..
										tr
											td.prob3value ..
											td.prob3percent ..
										tr
											td.prob4value ..
											td.prob4percent ..
										tr
											td.prob5value ..
											td.prob5percent ..
										tr
											td.prob6value ..
											td.prob6percent ..
										tr
											td.prob7value ..
											td.prob7percent ..						
							.column.sixteen.wide
								.ui.top.attached.pointing.menu
									a.item.menuTabs.active(data-tab='first') Win Probability
									a.item.menuTabs(data-tab='second') Predicted Score
								.ui.bottom.attached.tab.segment.active(data-tab='first')
									canvas.winprobcanvas1
								.ui.bottom.attached.tab.segment(data-tab='second')
									canvas.predscorecanvas
								br
							.column.sixteen.wide
								.ui.grid.tablet.computer.only
									.ui.container.fourteen.wide.centered.column
										h3.ui.horizontal.divider.header
											i.bar.chart.icon
											| Pre Match Estimated Player Performance
								.ui.mobile.only.grid.center.aligned
									.ui.container.tablet
										h4 Pre Match Estimated Player Performance
								br				
								.ui.top.attached.pointing.menu.stackable
									a.item.active.menuTabs.team1namebatsmen(data-tab='third') Team1 Batsmen
									a.item.team2namebatsmen.menuTabs(data-tab='fourth') Team2 Batsmen
									a.item.team1namebowler.menuTabs(data-tab='fifth') Team1 Bowlers
									a.item.team2namebowler.menuTabs(data-tab='sixth') Team2 Bowlers
								.ui.bottom.attached.tab.segment.active(data-tab='third')
									canvas.batsmencanvas1
								.ui.bottom.attached.tab.segment(data-tab='fourth')
									canvas.batsmencanvas2
								.ui.bottom.attached.tab.segment(data-tab='fifth')
									canvas.bowlercanvas1
								.ui.bottom.attached.tab.segment(data-tab='sixth')
									canvas.bowlercanvas2
	br
	br
	.ui.grid.tablet.computer.only
		.ui.container.ten.wide.centered.column
			h3.ui.horizontal.divider.header
					i.comments.icon
					| Featured Blogs
	.ui.mobile.only.grid.center.aligned
		.ui.container.tablet
			h4 Featured Blogs
	br
	br
	.ui.container
		.ui.grid.equal.width.stackable
			if posts
				each post, i in posts
					.column
						.ui.orange.segment.raised
							a(href="/blog/show/#{post._id}") 
								h4.smallBlog #{post.head}
							br
							br
							.description.smallBlog(style="overflow-x:hidden; color:#6f6f6f")!=(truncateText(post.body,100))
			if featuredPosts
				each featuredPost, i in featuredPosts
					.column
						.ui.orange.segment.raised
							a(href="/blog/show/#{featuredPost._id}") 
								h4.smallBlog #{featuredPost.head}
							br
							br
							.description.smallBlog(style="overflow-x:hidden; color:#6f6f6f")!=(truncateText(featuredPost.body,100))
block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js")
	script( src="/javascripts/chartjs-plugin-annotation.min.js")
	script( src="/javascripts/matchData.js" )