extends ../layout

block content
	form(id="addgameform" action="/game" method="post" style="display: none")
	.ui.container
		.ui.equal.width.grid.stackable.centered
			if user
				.row
					.column.eight.wide
						.ui.grid
							.column.sixteen.wide
								.ui.card.orange(style="width:100%")
									.content
										.left.floated.header Account Details
										.right.floated.author
											a(href='/users/account')
												img.ui.avatar.image(src='/images/matt.jpg')
												|  #{user.name}
										.description
											table.ui.very.basic.table
												tbody
													tr
														td Funds Remaining
														td.right.aligned(colspan="2") #{Math.round((user.balance))} Inr
							br
							br
							.column.sixteen.wide
								table.table.ui.selectable.celled.table.orange.unstackable.structured
									thead
										th Current Competetions
										th(colspan="2") Funds Required
									tbody
										tr
											td #{data.team1.name} v/s #{data.team2.name}
											td 100
											td
												a(href="" ,onclick="$('#addgameform').submit(); return false;")
													.ui.button.orange.mini.right.floated.inverted Get Started 
					if user.game.length
						.column.eight.wide
							table.table.ui.selectable.celled.table.orange.unstackable.structured
								thead
									th Games Played
									th Balance
									th Profit/Loss
								tbody
									each game, i in user.game
										- var stocks=0
										- each stock, j in game.buy
											- stocks+=stock.price*stock.quantity
										tr
											td #{game.gameId}
											td #{Math.round(game.balance+stocks)}
											td(class= ( game.profit > 0 ? 'positive': ( game.profit < 0 ? 'negative': '') )) #{Math.round(game.profit)}							
block scripts