extends ../layout

block content
	.ui.centered.grid.center.aligned
			.column.center.aligned
				h1 #{data.team1.name} v/s #{data.team2.name}
				.ui.divider
	if !user
		.ui.grid.tablet.computer.only
			.ui.container.eight.wide.centered.column.center.aligned
				.ui.warning.message
					i.close.icon
					.header
					| Please  
					span
						a(style="text-decoration:underline" href="/users/register") register
					|  or 
					span
						a(style="text-decoration:underline" href="/users/login") login
					|  to play the game and see your account details.
				br
		.ui.mobile.only.grid.center.aligned
			.ui.container
				.ui.warning.message(style="font-size:12px")
					i.close.icon
					.header
					| Please  
					span
						a(style="text-decoration:underline" href="/users/register") register
					|  or 
					span
						a(style="text-decoration:underline" href="/users/login") login
					|  to play the game and see your account details.
				br
	.ui.container
		.ui.equal.width.grid.stackable
			if user
				.row
					.column.seven.wide
						.ui.card.orange(style="width:100%")
							.content
								.left.floated.header Game-Board
								.right.floated.author
									a(href='/users/account')
										img.ui.avatar.image(src='/images/matt.jpg')
										|  #{user.name}
								.description
									table.ui.very.basic.table
										tbody
											- var stocks=0
											tr
												td Chips In Hand  
													i.info.circle.icon(style="font-size:0.7em", data-variation="wide inverted",data-content="Total Chips remaining for this match.",data-position="top center")
												td.right.aligned.UserBalance(colspan="2") #{Math.round((user_data.balance))} Chips
											tr
												td Player Holdings 
													i.info.circle.icon(style="font-size:0.7em", data-variation="wide inverted",data-content="Money that is active supporting your holdings.",data-position="top center")
												td.right.aligned.UserStock(colspan="2") #{Math.round(stocks*100)} Chips
											tr
												td Profit/Loss 
													i.info.circle.icon(style="font-size:0.7em", data-variation="wide inverted",data-content="This is the net amount of profit/loss you have made in this match.",data-position="top center")
												td.right.aligned.UserProfit(colspan="2")(class= ( user_data.profit > 0 ? 'positive': ( user_data.profit < 0 ? 'negative': '') )) #{Math.round(user_data.profit)} Chips
						.ui.button.orange.mini.inverted.odipoint ODI points system
						.ui.button.orange.mini.inverted.t20point T20 points system
						.ui.button.orange.mini.inverted.howtoplaybtn How to play
						.ui.button.orange.mini.inverted.faqbtn FAQs
					.column.nine.wide
						.ui.top.attached.pointing.menu.stackable
							a.item.menuTabs.active(data-tab='first') Holdings
							a.item.menuTabs(data-tab='second') Closed Positions
							a.item.menuTabs(data-tab='third') Leadership Board
						.ui.bottom.attached.tab.segment.active(data-tab='first')
							.ui.card.orange(style="width:100%")
								.content
									.left.floated.header Holdings 
										i.info.circle.icon(style="font-size:0.7em", data-variation="wide inverted",data-content="All your open positions.",data-position="top center")
									.description
										br
										table.ui.very.basic.table.BuyPositionTable
											thead
												tr
													th(colspan="2") Players
													th Stocks
													th Current price
													th Buy price
													th Profit/Loss
											tbody.buyTBody
												each buy, i in user_data.buy
													tr
														td -
														td.boughtQty -
														td.currentPosition -
														td.boughtPrice -
														td.currentProfit -
										.NoBuyPosition
											br
											p No Open Positions.
						.ui.bottom.attached.tab.segment(data-tab='second')
							.ui.card.orange(style="width:100%")
								.content
									.left.floated.header Closed Positions 
										i.info.circle.icon(style="font-size:0.7em", data-variation="wide inverted",data-content="All your closed positions.",data-position="top center")
									.description
										br
										table.ui.very.basic.table.SellPositionTable
											thead
												tr
													th Players
													th Stocks
													th Sold price
													th Buy price
													th Profit/Loss
											tbody.sellTBody
												each sell, i in user_data.sell
													tr
														td -
														td -
														td -
														td -
														td -
										.NoSellPosition
											br
											p No Closed Positions.
						.ui.bottom.attached.tab.segment(data-tab='third')
							table.ui.selectable.celled.table.orange.unstackable.structured
								thead
									tr
										th Rank
										th Player Name
										th Score
								tbody.leaderbody
								tbody
									each player, i in alluser
										tr.userplayers(style="display:none")
											td.userplayername #{player.name}
											td.userbalance #{player.balance}
											each buyname, j in player.buy
												td.userbuyname(q='#{buyname.quantity}',p='#{buyname.name}')
			.row
				.column
					table.ui.selectable.celled.table.orange.unstackable.structured.small
						thead
							tr
								th #{data.team1.name} Players
								th(colspan="2") Cricsta Model points 
									i.help.circle.outline.icon(style="font-size:0.9em", data-variation="wide inverted",data-content="Price of buying the player.",data-position="top center")
						tbody
							if data.team1.batsmen
								each batsmen, i in team1players
									if (batsmen.runsScored)
										tr(p-name="#{batsmen.name}")
											td
												-var team1uri= encodeURIComponent(data.team1.name.trim())
												img(src="/images/#{team1uri}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												if (batsmen.keeper)
													img(src="/images/keeper.png" style="float:right; max-width:25px")
												else
													img(src="/images/bat.png" style="float:right; max-width:25px")
											td.currentPoints 
												p(style="display:block; float:right;") #{Math.round(batsmen.points)} Points	
											td 
												.ui.button.green.mini.inverted.right.floated.buyButton Buy
									else
										tr(p-name="#{batsmen.name}")
											td
												-var team1uri= encodeURIComponent(data.team1.name.trim())
												img(src="/images/#{team1uri}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												img(src="/images/ball.png" style="float:right; margin-top:10px; max-width:15px")
											td.currentPoints
												p(style="display:block; float:right;") #{Math.round(batsmen.points)} Points
											td 
												.ui.button.green.mini.inverted.right.floated.buyButton Buy
				.column
					table.ui.selectable.celled.table.orange.unstackable.structured.small
						thead
							tr
								th #{data.team2.name} Players
								th(colspan="2") Cricsta Model points 
									i.help.circle.outline.icon(style="font-size:0.9em", data-variation="wide inverted",data-content="Price of buying the player.",data-position="top center") 
						tbody
							if data.team2.batsmen
								each batsmen, i in team2players
									if batsmen.runsScored
										tr(p-name="#{batsmen.name}")
											td
												-var team2uri= encodeURIComponent(data.team2.name.trim())
												img(src="/images/#{team2uri}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												if (batsmen.keeper)
													img(src="/images/keeper.png" style="float:right; max-width:25px")
												else
													img(src="/images/bat.png" style="float:right; max-width:25px")
											td.currentPoints 
												p(style="display:block; float:right;") #{Math.round(batsmen.points)} Points	
											td 
												.ui.button.green.mini.inverted.right.floated.buyButton Buy
									else
										tr(p-name="#{batsmen.name}")
											td
												-var team2uri= encodeURIComponent(data.team2.name.trim())
												img(src="/images/#{team2uri}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												img(src="/images/ball.png" style="float:right; margin-top:10px; max-width:15px")
											td.currentPoints 
												p(style="display:block; float:right;") #{Math.round(batsmen.points)} Points	
											td 
												.ui.button.green.mini.inverted.right.floated.buyButton Buy
	.ui.odi.modal
		i.close.icon
		.header ODI Points System
		.scrolling.content
			.ui.equal.width.grid.stackable
				.column
					table.ui.striped.celled.table.orange.unstackable.structured.small
						thead
							tr
								th(colspan='2') Batting
								th Points
						tbody
							tr
								td
								td Runs
								td 1
							tr
								td(rowspan='6') Minimum 35 balls 
								td S.R. below 65
								td -6
							tr
								td S.R. b/w 65 & 75
								td -4
							tr
								td S.R. b/w  75 & 85 
								td -2
							tr
								td S.R. b/w 95 & 105
								td 2
							tr
								td S.R. b/w 105 & 115
								td 4
							tr
								td S.R. above 115
								td 6
				.column
					table.ui.striped.celled.table.orange.unstackable.structured.small
						thead
							tr
								th(colspan='2') Bowling
								th Points
						tbody
							tr
								td
								td Wicket
								td 30
							tr
								td(rowspan='6') Minimum 6 Overs
								td E.R above 8
								td -6
							tr
								td E.R. b/w 7 & 8
								td -4
							tr
								td E.R. b/w  6 & 7 
								td -2
							tr
								td E.R. b/w 4 & 5
								td 2
							tr
								td E.R. b/w 3 & 4
								td 4
							tr
								td E.R. below 3
								td 6
	.ui.t20.modal
		i.close.icon
		.header T20 Points System
		.scrolling.content
			.ui.equal.width.grid.stackable
				.column
					table.ui.striped.celled.table.orange.unstackable.structured.small
						thead
							tr
								th(colspan='2') Batting
								th Points
						tbody
							tr
								td
								td Runs
								td 1
							tr
								td(rowspan='6') Minimum 20 balls 
								td S.R. below 105
								td -6
							tr
								td S.R. b/w 105 & 115
								td -4
							tr
								td S.R. b/w  115 & 125 
								td -2
							tr
								td S.R. b/w 135 & 145
								td 2
							tr
								td S.R. b/w 145 & 155
								td 4
							tr
								td S.R. above 155
								td 6
				.column
					table.ui.striped.celled.table.orange.unstackable.structured.small
						thead
							tr
								th(colspan='2') Bowling
								th Points
						tbody
							tr
								td
								td Wicket
								td 20
							tr
								td(rowspan='6') Minimum 3 Overs
								td E.R above 10
								td -6
							tr
								td E.R. b/w 9 & 10
								td -4
							tr
								td E.R. b/w  8 & 9 
								td -2
							tr
								td E.R. b/w 6 & 7
								td 2
							tr
								td E.R. b/w 5 & 6
								td 4
							tr
								td E.R. below 5
								td 6
	.ui.howtoplay.modal
		i.close.icon
		.header How to play
		.scrolling.content
			.column(style="margin:10px 4%; text-align: justify; text-justify: inter-word;")
				p
					strong You play while the stars do!
				p
					| Prosportleague is the only fantasy game that you play while you watch a match. This is a competitive game that challenges your predictive skills in your favourite game; with a bank balance of 500 tokens for every match.
				p
					| An intuitive game for all, being a cricket fan is a plus! Follow these simple steps to play along with the stars!
				p  
					strong 1 Create your account
				p
					| Just register and create your account. We are giving you some free credits so you can play today's game.
				p
					strong 2 Understand the points system
				p
					| The points system is a critical element of the game. We use junior school level math to convert player scores to points. Click on the icons below to have a look at the points system.

				.ui.button.orange.mini.inverted.odipoint ODI points system
				.ui.button.orange.mini.inverted.t20point T20 points system
				p
				p
					| As can be seen, we use only four variables. The runs scored by the batsmen, wickets taken by the bowler, batsman's strike rate (after minimum balls are faced by him) and bowler's economy rate (after minimum overs are bowled by him).
				p
					strong 3 Game Objective 
				p
					| The objective of the game is to 
					strong maximise the number of tokens
					|  you have at the end of the match.
				p
					| At the end of the match, for every player will be marked 
					strong at the actual points
					|  scored by the particular player in the match.
				p
					strong 4 Estimate and invest
				p
					| At any point in the game our Cricsta model will give the number of points it thinks the player will score by the end of the match.
				ul
					li
						| You buy a player if you think he will score more points than the Cricsta model estimates.
					li Each point of a player is worth 1 token. You start the game with 500 tokens.
					li
						| The Cricsta model will update after every ball. So the price you buy your player will differ ball to ball.
					li
						| You can buy a player for two shares instead of 1. For example, if you buy a player worth 35 points, you will use 35 of your 500 tokens to buy him once, 70 tokens to buy him twice and so on.
					li
						| You can also sell a player you have bought. You will do this when you now think the Cricsta model is giving points as per your estimates or you see a greater opportunity elsewhere.
					li You can buy and sell players multiple times during a match.
					li
						| The maximum invested at any time is 500 tokens. However, if 10 tokens of profit have already been booked, then those 10 tokens can be re-invested on another player. Conversely, if 10 tokens of loss booked, then the total investment value becomes 490 tokens.
				p
					strong 5 Game Objective 
				p
					| At the end of the match, for every player holding that is unsold, we will sell them at the actual points scored by the particular player in the match.
				p
					| The objective of the game is to maximise the number of tokens you have at the end of the match.
				p
					| We will create a leader board as per the number of tokens each contestant has. Winners will be given prizes as announced before the game.

	.ui.faq.modal
		i.close.icon
		.header FAQs
		.scrolling.content
			.column(style="margin:10px 4%; text-align: justify; text-justify: inter-word;")		
				p
					strong How do I play on Prosportsleague?
				p
					| 1  Register / login on 
					a(href='http://www.prosportsleague.com') www.prosportsleague.com
					| 
				p
					| 2  Add money to account for a money game. Or use free credits given for virtual game
				p
					| 3  Choose your game. For every match there are several choices, based on the buy-in you are comfortable with, or if the game is virtual or real, plus if you want to choose a dynamic intra-match game or a static pre-match one.
				p
					strong When does the game start?
				p
					|   
					strong Dynamic Game: 
					| This game starts 15 minutes before the first ball is scheduled to be bowled. You can start buying and selling players at any time up to the last ball of the match.
				ul
					li
						strong Static Game: 
						| This game starts 24 hours before the first ball is bowled and is closed 30 minutes before the start of the match (before the toss).
				p
					strong Who wins the game?
				p
					| The contestant with the highest number of tokens at the end of the match. All player holdings at the end of the match will be closed at the actual points scored by each player.
				p
					strong How do I take positions?
				p
					| Buy a player who you think will score more than the Cricsta model. If you feel strongly about any player, you can buy more than just one share.
				p
					| However, you can buy only up to the total tokens available. In the start of the game, each player has 500 tokens.
				p
					strong Does the price of each player change during the match?
				p
					| Yes! Our Cricsta model will update its estimates of every player's points at every ball. Therefore, the price each player is available at will change accordingly. At the end of the match, all players will be marked on the actual points they score. 
				p
					strong Will my holdings be live for subsequent matches?
				p
					| No! Every new match is a fresh game. Your holdings are netted off at the end of the match against the actual points scored by the player.
				p
					strong What if a player in my holding does not play?
				ul
					li
						strong Dynamic Game: 
						| This is not possible as we start the game after the toss only. So the 22 players on your game screen are playing the match.
					li
						strong Static Game:
						|  You should take positions on a player who you think likely to play. If your player does not play, he will score 0 points.
				p
					strong Is there a limit on the number for players in my holdings?
				p
					| No! The number of players are only limited by the number of tokens available to you. Choose wisely between diversifying among a number of players are concentrating your bets on a particular player.
				p
					strong Can I only pick players from one of the sides?
				p Yes! There is no limit on holdings per side
				p
					strong
						| I feel 5 players will score more points than the Cricsta model. However, I have exhausted my budget in the first 4 players. What do I do?
				p That is the challenge. You have to maintain your budget.
				p
					strong How long does it take for a player I have bought to reflect in my holdings?
				p It will be instantaneous.
				p
					strong Can I change my holdings during the match?
				ul
					li
						strong Dynamic Game: 
						| Yes! You can buy and sell players while the match is on
					li
						strong Static Game: 
						| No! The holdings freeze 30 minutes before the match start
				p
					strong How can I see my rank?
				p
					| Just click on the leader board to see how well you are doing against your fellow contestants. This is updated at the end of every ball
				p
					strong Why are some players have a low estimated points from the Cricsta model?
				p The Cricsta model looks at player ability and math situation.
				p
					| An example: A weak team A bats first against a strong team B. Our Cricsta model will price the middle and late order batsmen of team B at low points as compared to other players in the match. This is because, in many cases, the top order batsman of team B will score most of the runs required to be chased, leaving little points to be scored by the rest.
	.ui.mini.buying.modal
		.header
		.content
			.description
				| Buying Stocks
			.ui.divider
			form.ui.form.buyForm
				.fields
					.field
						label Stocks
						input(type='number', name='b-quantity',value='1',min='1' max='2' )
					.field
						label &nbsp
						input.ui.button.mini.primary.twiceButton(type='button',field='b-quantity', value='x2')
				.fields
					.field.bPrice
						label Price
						input(type='number', name='b-price', disabled)
			.ui.divider
			.description1
		.actions
			.ui.negative.left.labeled.icon.button
				| Cancel
				i.remove.icon
			.ui.positive.right.labeled.icon.button
				| Buy
				i.checkmark.icon

	.ui.mini.selling.modal
		.header
		.content
			.description
				| Selling Stocks
			.ui.divider
			form.ui.form.sellForm
				.fields
					.field
						label Stocks
						input(type='number', name='s-quantity', value='1')
					.field
						label &nbsp
						input.ui.button.mini.primary.twiceButton(type='button',field='s-quantity', value='x2')
				.fields
					.field.sPrice
						label Points
						input(type='number', name='s-price', disabled )
			.ui.divider
			.description1
		.actions
			.ui.negative.left.labeled.icon.button
				| Cancel
				i.remove.icon
			.ui.positive.right.labeled.icon.button
				| Sell
				i.checkmark.icon
block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js")
	script(src="/javascripts/game.js")