extends ../layout

block content
	.ui.centered.grid.center.aligned
			.column.center.aligned
				h1 #{data.team1.name} Vs West Indies
	if !user
		.ui.grid.tablet.computer.only
			.ui.container.eight.wide.centered.column.center.aligned
				.ui.warning.message
					i.close.icon
					.header
					| Please  
					span
						a(style="text-decoration:underline" href="/users/register") register
					|  or 
					span
						a(style="text-decoration:underline" href="/users/login") login
					|  to play the game.
				br
		.ui.mobile.only.grid.center.aligned
			.ui.container
				.ui.warning.message(style="font-size:12px")
					i.close.icon
					.header
					| Please  
					span
						a(style="text-decoration:underline" href="/users/register") register
					|  or 
					span
						a(style="text-decoration:underline" href="/users/login") login
					|  to play the game.
				br
	.ui.container
		.ui.equal.width.grid.stackable
			.column
				.ui.card.orange(style="width:100%")
					.content
						.left.floated.header Account Details
						.right.floated.author
							img.ui.avatar.image(src='/images/matt.jpg')
							|  Vanshaj Behl
						.left.floated.meta(style="clear:both;")
							span.category Virtual Money
						.description
							table.ui.very.basic.table
								tbody
									tr
										td Balance Points
										td(colspan="2") 1000 points
									tr
										td Stocks
										td(colspan="2") 150 points
									tr
										td Account Value
										td(colspan="2") 1150 points
									tr
										td.positive Profit/Loss
										td.positive(colspan="2") 15 points
				.ui.card.orange(style="width:100%")
					.content
						.left.floated.header Buying Positions
						.description
							table.ui.very.basic.table
								tbody
									tr
										td Players
										td Lots
										td Current Position
										td Bought Position
										td Profit/Loss
									tr
										td Virat Kohli
										td 15
										td 38.35
										td 28.2
										td.positive 153
				.ui.card.orange(style="width:100%")
					.content
						.left.floated.header Selling Positions
						.description
							table.ui.very.basic.table
								tbody
									tr
										td Players
										td Lots
										td Current Position
										td Selling Position
										td Profit/Loss
									tr
										td Mohammed Shami
										td 11
										td 22.35
										td 20.2
										td.negative 23.65
			.column
				.ui.top.attached.pointing.menu.stackable
					a.item.menuTabs.active(data-tab='first') #{data.team1.name} Players
					a.item.menuTabs(data-tab='second') #{data.team2.name} Players
				.ui.bottom.attached.tab.segment.active(data-tab='first')
					table.ui.selectable.celled.table.orange.unstackable.structured.small
						thead
							tr
								th Player Name
								th Best Buyer 
								th Best Seller
						tbody
							if data.team1.batsmen
								each batsmen, i in team1players
									if (batsmen.runsScored)
										tr
											td
												img(src="/images/#{data.team1.name}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												img(src="/images/bat.png" style="float:right; max-width:35px")
											td 
												.ui.button.green.mini.inverted.left.floated Buy
												p.right.floated(style="display:block; float:right;") #{Math.round(batsmen.runsScored*1.05* 100) / 100} points
												
											td #{Math.round(batsmen.runsScored*0.95*100) / 100} points
												.ui.button.red.mini.inverted.right.floated Sell
									else
										tr
											td
												img(src="/images/#{data.team1.name}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												img(src="/images/ball.png" style="float:right; margin-top:10px; max-width:15px")
											td 
												.ui.button.green.mini.inverted.left.floated Buy
												p.right.floated(style="display:block; float:right;") #{Math.round(batsmen.wicketsTaken*20*1.05* 100) / 100} points

											td #{Math.round(batsmen.wicketsTaken*20*0.95* 100) / 100} points
												.ui.button.red.mini.inverted.right.floated Sell
				.ui.bottom.attached.tab.segment(data-tab='second')
					table.ui.selectable.celled.table.orange.unstackable.structured.small
						thead
							tr
								th Player Name
								th Best Buyer 
								th Best Seller 
						tbody
							if data.team2.batsmen
								each batsmen, i in team2players
									if batsmen.runsScored
										tr
											td
												img(src="/images/#{data.team2.name}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												img(src="/images/bat.png" style="float:right; max-width:35px")
											td 
												.ui.button.green.mini.inverted.left.floated Buy
												p.right.floated(style="display:block; float:right;") #{Math.round(batsmen.runsScored*1.05* 100) / 100} points
												
											td #{Math.round(batsmen.runsScored*0.95* 100) / 100} points
												.ui.button.red.mini.inverted.right.floated Sell
									else
										tr
											td
												img(src="/images/#{data.team2.name}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												img(src="/images/ball.png" style="float:right; margin-top:10px; max-width:15px")
												| &nbsp
											td 
												.ui.button.green.mini.inverted.left.floated Buy
												p.right.floated(style="display:block; float:right;") #{Math.round(batsmen.wicketsTaken*20*1.05* 100) / 100} points
												
											td #{Math.round(batsmen.wicketsTaken*20*0.95* 100) / 100} points
												.ui.button.red.mini.inverted.right.floated Sell