extends ../layout

block content
	.ui.centered.grid.center.aligned
			.column.center.aligned
				h1 #{data.team1.name} Vs #{data.team2.name}
				br
	.ui.container
		.ui.equal.width.grid.stackable
			.column
				table.ui.selectable.celled.table.orange.unstackable.structured.small
					thead
						tr
							th Batsmen
							th Best Runs Backer 
							th Best Runs Layer 
					thead
						tr
							th(colspan="3") #{data.team1.name} Batsmen
					tbody
						if data.team1.batsmen
							each batsmen, i in data.team1.batsmen
								tr
									td #{batsmen.name}
									td 
										| #{Math.round(batsmen.runsScored*0.9* 100) / 100} runs
										.ui.button.red.mini.inverted.right.floated Lay
									td #{Math.round(batsmen.runsScored*1.1* 100) / 100} runs
										.ui.button.blue.mini.inverted.right.floated Back
					thead
						tr
							th(colspan="3") #{data.team2.name} Batsmen
					tbody
						if data.team2.batsmen
							each batsmen, i in data.team2.batsmen
								tr
									td #{batsmen.name}
									td #{Math.round(batsmen.runsScored*0.9* 100) / 100} runs
										.ui.button.red.mini.inverted.right.floated Lay
									td #{Math.round(batsmen.runsScored*1.1* 100) / 100} runs
										.ui.button.blue.mini.inverted.right.floated Back
			.column
				table.ui.selectable.celled.table.orange.unstackable.structured.small
					thead
						tr
							th Team
							th Best  Scores Backer
							th Best  Scores Layer
					tbody
						tr
							td #{data.team1.name}
							td #{Math.round(doc.team1.predScore*0.9* 100) / 100} runs
								.ui.button.red.mini.inverted.right.floated Lay
							td #{Math.round(doc.team1.predScore*1.1* 100) / 100} runs
								.ui.button.blue.mini.inverted.right.floated Back
					tbody
						tr
							td #{data.team2.name}
							td #{Math.round(doc.team2.predScore*0.9* 100) / 100} runs
								.ui.button.red.mini.inverted.right.floated Lay
							td #{Math.round(doc.team2.predScore*1.1* 100) / 100} runs
								.ui.button.blue.mini.inverted.right.floated Back				
				table.ui.selectable.celled.table.orange.unstackable.structured.small
					thead
						tr
							th Bowlers
							th Best  Wickets Backer
							th Best  Wickets Layer
					thead
						tr
							th(colspan="3") #{data.team1.name} Bowlers
					tbody
						if data.team1.bowlers
							each bowler, i in data.team1.bowlers
								tr
									td #{bowler.name}
									td #{Math.round(bowler.wicketsTaken*0.9* 100) / 100} wickets
										.ui.button.red.mini.inverted.right.floated Lay
									td #{Math.round(bowler.wicketsTaken*1.1* 100) / 100} wickets
										.ui.button.blue.mini.inverted.right.floated Back
					thead
						tr
							th(colspan="3") #{data.team2.name} Bowlers
					tbody					
						if data.team2.bowlers
							each bowler, i in data.team2.bowlers
								tr
									td #{bowler.name}
									td #{Math.round(bowler.wicketsTaken*0.9* 100) / 100} wickets
										.ui.button.red.mini.inverted.right.floated Lay
									td #{Math.round(bowler.wicketsTaken*1.1* 100) / 100} wickets
										.ui.button.blue.mini.inverted.right.floated Back