extends ../layout

block content
	.ui.centered.grid.center.aligned
			.column.center.aligned
				h1 #{data.team1.name} v/s #{data.team2.name}
				.ui.divider
	if !user
		.ui.grid.tablet.computer.only
			.ui.container.eight.wide.centered.column.center.aligned
				.ui.warning.message
					i.close.icon
					.header
					| Please  
					span
						a(style="text-decoration:underline" href="/users/register") register
					|  or 
					span
						a(style="text-decoration:underline" href="/users/login") login
					|  to play the game and see your account details.
				br
		.ui.mobile.only.grid.center.aligned
			.ui.container
				.ui.warning.message(style="font-size:12px")
					i.close.icon
					.header
					| Please  
					span
						a(style="text-decoration:underline" href="/users/register") register
					|  or 
					span
						a(style="text-decoration:underline" href="/users/login") login
					|  to play the game and see your account details.
				br
	.ui.container
		.ui.equal.width.grid.stackable
			if user
				.row
					.column.seven.wide
						.ui.card.orange(style="width:100%")
							.content
								.left.floated.header Game-Board
								.right.floated.author
									a(href='/users/account')
										img.ui.avatar.image(src='/images/matt.jpg')
										|  #{user.name}
								.description
									table.ui.very.basic.table
										tbody
											- var stocks=0
											tr
												td Tokens In Hand  
													i.info.circle.icon(style="font-size:0.7em", data-variation="wide inverted",data-content="Total tokens remaining for this match.",data-position="top center")
												td.UserBalance(colspan="2") #{Math.round((user_data.balance))} Tokens
											tr
												td Player Holdings 
													i.info.circle.icon(style="font-size:0.7em", data-variation="wide inverted",data-content="Money that is active supporting your holdings.",data-position="top center")
												td.UserStock(colspan="2") #{Math.round(stocks*100)} Tokens
											tr
												td Profit/Loss 
													i.info.circle.icon(style="font-size:0.7em", data-variation="wide inverted",data-content="This is the net amount of profit/loss you have made in this match.",data-position="top center")
												td.UserProfit(colspan="2")(class= ( user_data.profit > 0 ? 'positive': ( user_data.profit < 0 ? 'negative': '') )) #{Math.round(user_data.profit)} Tokens
						.ui.button.orange.mini.inverted.odipoint ODI points system
						.ui.button.orange.mini.inverted.t20point T20 points system
					.column.nine.wide
						.ui.top.attached.pointing.menu.stackable
							a.item.menuTabs.active(data-tab='first') Holdings
							a.item.menuTabs(data-tab='second') Closed Positions
							a.item.menuTabs(data-tab='third') Leadership Board
						.ui.bottom.attached.tab.segment.active(data-tab='first')
							.ui.card.orange(style="width:100%")
								.content
									.left.floated.header Holdings 
										i.info.circle.icon(style="font-size:0.7em", data-variation="wide inverted",data-content="All your open positions.",data-position="top center")
									.description
										br
										table.ui.very.basic.table.BuyPositionTable
											thead
												tr
													th(colspan="2") Players
													th Stocks
													th Current price
													th Buy price
													th Profit/Loss
											tbody.buyTBody
												each buy, i in user_data.buy
													tr
														td -
														td.boughtQty -
														td.currentPosition -
														td.boughtPrice -
														td.currentProfit -
										.NoBuyPosition
											br
											p No Open Positions.
						.ui.bottom.attached.tab.segment(data-tab='second')
							.ui.card.orange(style="width:100%")
								.content
									.left.floated.header Closed Positions 
										i.info.circle.icon(style="font-size:0.7em", data-variation="wide inverted",data-content="All your closed positions.",data-position="top center")
									.description
										br
										table.ui.very.basic.table.SellPositionTable
											thead
												tr
													th Players
													th Stocks
													th Sold price
													th Buy price
													th Profit/Loss
											tbody.sellTBody
												each sell, i in user_data.sell
													tr
														td -
														td -
														td -
														td -
														td -
										.NoSellPosition
											br
											p No Closed Positions.
						.ui.bottom.attached.tab.segment(data-tab='third')
							table.ui.selectable.celled.table.orange.unstackable.structured
								thead
									tr
										th Rank
										th Player Name
										th Score
								tbody.leaderbody
								tbody
									each player, i in alluser
										tr.userplayers(style="display:none")
											td.userplayername #{player.name}
											td.userbalance #{player.balance}
											each buyname, j in player.buy
												td.userbuyname(q='#{buyname.quantity}',p='#{buyname.name}')
			.row
				.column
					table.ui.selectable.celled.table.orange.unstackable.structured.small
						thead
							tr
								th #{data.team1.name} Players
								th(colspan="2") Cricsta Model points 
									i.help.circle.outline.icon(style="font-size:0.9em", data-variation="wide inverted",data-content="Price of buying the player.",data-position="top center")
						tbody
							if data.team1.batsmen
								each batsmen, i in team1players
									if (batsmen.runsScored)
										tr(p-name="#{batsmen.name}")
											td
												-var team1uri= encodeURIComponent(data.team1.name.trim())
												img(src="/images/#{team1uri}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												if (batsmen.keeper)
													img(src="/images/keeper.png" style="float:right; max-width:25px")
												else
													img(src="/images/bat.png" style="float:right; max-width:25px")
											td.currentPoints 
												p(style="display:block; float:right;") #{Math.round(batsmen.points)} Points	
											td 
												.ui.button.green.mini.inverted.right.floated.buyButton Buy
									else
										tr(p-name="#{batsmen.name}")
											td
												-var team1uri= encodeURIComponent(data.team1.name.trim())
												img(src="/images/#{team1uri}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												img(src="/images/ball.png" style="float:right; margin-top:10px; max-width:15px")
											td.currentPoints
												p(style="display:block; float:right;") #{Math.round(batsmen.points)} Points
											td 
												.ui.button.green.mini.inverted.right.floated.buyButton Buy
				.column
					table.ui.selectable.celled.table.orange.unstackable.structured.small
						thead
							tr
								th #{data.team2.name} Players
								th(colspan="2") Cricsta Model points 
									i.help.circle.outline.icon(style="font-size:0.9em", data-variation="wide inverted",data-content="Price of buying the player.",data-position="top center") 
						tbody
							if data.team2.batsmen
								each batsmen, i in team2players
									if batsmen.runsScored
										tr(p-name="#{batsmen.name}")
											td
												-var team2uri= encodeURIComponent(data.team2.name.trim())
												img(src="/images/#{team2uri}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												if (batsmen.keeper)
													img(src="/images/keeper.png" style="float:right; max-width:25px")
												else
													img(src="/images/bat.png" style="float:right; max-width:25px")
											td.currentPoints 
												p(style="display:block; float:right;") #{Math.round(batsmen.points)} Points	
											td 
												.ui.button.green.mini.inverted.right.floated.buyButton Buy
									else
										tr(p-name="#{batsmen.name}")
											td
												-var team2uri= encodeURIComponent(data.team2.name.trim())
												img(src="/images/#{team2uri}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												img(src="/images/ball.png" style="float:right; margin-top:10px; max-width:15px")
											td.currentPoints 
												p(style="display:block; float:right;") #{Math.round(batsmen.points)} Points	
											td 
												.ui.button.green.mini.inverted.right.floated.buyButton Buy
	.ui.odi.modal
		i.close.icon
		.header ODI Points System
		.scrolling.content
			.ui.equal.width.grid.stackable
				.column
					table.ui.striped.celled.table.orange.unstackable.structured.small
						thead
							tr
								th(colspan='2') Batting
								th Points
						tbody
							tr
								td
								td Runs
								td 1
							tr
								td(rowspan='6') Minimum 35 balls 
								td S.R. below 65
								td -6
							tr
								td S.R. b/w 65 & 75
								td -4
							tr
								td S.R. b/w  75 & 95 
								td -2
							tr
								td S.R. b/w 95 & 105
								td 2
							tr
								td S.R. b/w 105 & 115
								td 4
							tr
								td S.R. above 115
								td 6
				.column
					table.ui.striped.celled.table.orange.unstackable.structured.small
						thead
							tr
								th(colspan='2') Bowling
								th Points
						tbody
							tr
								td
								td Wicket
								td 30
							tr
								td(rowspan='6') Minimum 6 Overs
								td E.R above 8
								td -6
							tr
								td E.R. b/w 7 & 8
								td -4
							tr
								td E.R. b/w  6 & 7 
								td -2
							tr
								td E.R. b/w 4 & 5
								td 2
							tr
								td E.R. b/w 3 & 4
								td 4
							tr
								td E.R. below 3
								td 6
	.ui.t20.modal
		i.close.icon
		.header T20 Points System
		.scrolling.content
			.ui.equal.width.grid.stackable
				.column
					table.ui.striped.celled.table.orange.unstackable.structured.small
						thead
							tr
								th(colspan='2') Batting
								th Points
						tbody
							tr
								td
								td Runs
								td 1
							tr
								td(rowspan='6') Minimum 20 balls 
								td S.R. below 105
								td -6
							tr
								td S.R. b/w 105 & 115
								td -4
							tr
								td S.R. b/w  115 & 125 
								td -2
							tr
								td S.R. b/w 135 & 145
								td 2
							tr
								td S.R. b/w 145 & 155
								td 4
							tr
								td S.R. above 155
								td 6
				.column
					table.ui.striped.celled.table.orange.unstackable.structured.small
						thead
							tr
								th(colspan='2') Bowling
								th Points
						tbody
							tr
								td
								td Wicket
								td 20
							tr
								td(rowspan='6') Minimum 3 Overs
								td E.R above 10
								td -6
							tr
								td E.R. b/w 9 & 10
								td -4
							tr
								td E.R. b/w  8 & 9 
								td -2
							tr
								td E.R. b/w 6 & 7
								td 2
							tr
								td E.R. b/w 5 & 6
								td 4
							tr
								td E.R. below 5
								td 6
	.ui.mini.buying.modal
		.header
		.content
			.description
				| Buying Stocks
			.ui.divider
			form.ui.form.buyForm
				.fields
					.field
						label Stocks
						input(type='number', name='b-quantity',value='1',min='1' max='2' )
					.field
						label &nbsp
						input.ui.button.mini.primary.twiceButton(type='button',field='b-quantity', value='x2')
				.fields
					.field.bPrice
						label Price
						input(type='number', name='b-price', disabled)
			.ui.divider
			.description1
		.actions
			.ui.negative.left.labeled.icon.button
				| Cancel
				i.remove.icon
			.ui.positive.right.labeled.icon.button
				| Buy
				i.checkmark.icon

	.ui.mini.selling.modal
		.header
		.content
			.description
				| Selling Stocks
			.ui.divider
			form.ui.form.sellForm
				.fields
					.field
						label Stocks
						input(type='number', name='s-quantity', value='1')
					.field
						label &nbsp
						input.ui.button.mini.primary.twiceButton(type='button',field='s-quantity', value='x2')
				.fields
					.field.sPrice
						label Points
						input(type='number', name='s-price', disabled )
			.ui.divider
			.description1
		.actions
			.ui.negative.left.labeled.icon.button
				| Cancel
				i.remove.icon
			.ui.positive.right.labeled.icon.button
				| Sell
				i.checkmark.icon
block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js")
	script(src="/javascripts/game.js")