extends ../layout

block content
	.ui.centered.grid.center.aligned
			.column.center.aligned
				h1 #{data.team1.name} v/s West Indies
				.ui.divider
	if !user
		.ui.grid.tablet.computer.only
			.ui.container.eight.wide.centered.column.center.aligned
				.ui.warning.message
					i.close.icon
					.header
					| Please  
					span
						a(style="text-decoration:underline" href="/users/register") register
					|  or 
					span
						a(style="text-decoration:underline" href="/users/login") login
					|  to play the game and see your account details.
				br
		.ui.mobile.only.grid.center.aligned
			.ui.container
				.ui.warning.message(style="font-size:12px")
					i.close.icon
					.header
					| Please  
					span
						a(style="text-decoration:underline" href="/users/register") register
					|  or 
					span
						a(style="text-decoration:underline" href="/users/login") login
					|  to play the game and see your account details.
				br
	.ui.container
		.ui.equal.width.grid.stackable
			if user
				.column
					.ui.card.orange(style="width:100%")
						.content
							.left.floated.header Account Details
							.right.floated.author
								img.ui.avatar.image(src='/images/matt.jpg')
								|  #{user.name}
							.left.floated.meta(style="clear:both;")
								span.category Virtual Money
							.description
								table.ui.very.basic.table
									tbody
										- var stocks=0
											- each buy, i in user_data.buy
												- stocks += (buy.price*buy.quantity)
											- each sell, i in user_data.sell
												- stocks += (sell.price*sell.quantity)
										tr
											td Balance Points 
												i.info.circle.icon(style="font-size:0.7em", data-variation="wide",data-content="Balance points are your remaining fanatsy points.",data-position="top center")
											td(colspan="2") #{Math.round((user_data.balance)* 100) / 100} points
										tr
											td Stocks 
												i.info.circle.icon(style="font-size:0.7em", data-variation="wide",data-content="Stocks points are the worth of stocks remaining in selling/buying positions.",data-position="top center")
											td(colspan="2") #{Math.round(stocks* 100) / 100} points
										tr
											td Profit/Loss 
												i.info.circle.icon(style="font-size:0.7em", data-variation="wide",data-content="This is the net amount of profit/loss you have made in points.",data-position="top center")
											td(colspan="2")(class= ( user_data.profit > 0 ? 'positive': ( user_data.profit < 0 ? 'negative': '') )) #{user_data.profit} points
					.ui.card.orange(style="width:100%")
						.content
							.left.floated.header Buying Positions 
								i.info.circle.icon(style="font-size:0.7em", data-variation="wide",data-content="All your remaining buying positions with number of lots bought, their average price and profit/loss you can make by selling them right now is diplayed.",data-position="top center")
							.description
								br
								if user_data.buy.length > 0
									table.ui.very.basic.table
										thead
											tr
												th Players
												th Lots
												th Current Position
												th Bought Position
												th Profit/Loss
										tbody.buyTBody
											each buy, i in user_data.buy
												tr
													td #{buy.name}
													td #{buy.quantity}
													td Something
													td #{buy.price}
													td Something
								else
									br
									p No Buying Positions.
					.ui.card.orange(style="width:100%")
						.content
							.left.floated.header Selling Positions 
								i.info.circle.icon(style="font-size:0.7em", data-variation="wide",data-content="All your remaining selling positions with number of lots sold, their average price and profit/loss you can make by buying them right now is diplayed.",data-position="top center")
							.description
								br
								if user_data.sell.length > 0
									table.ui.very.basic.table
										thead
											tr
												th Players
												th Lots
												th Current Position
												th Selling Position
												th Profit/Loss
										tbody.sellTBody
											each sell, i in user_data.sell
												tr
													td #{sell.name}
													td #{sell.quantity}
													td Something
													td #{sell.price}
													td Something
								else 
									br
									p No Selling Positions.
			.column
				.ui.top.attached.pointing.menu.stackable
					a.item.menuTabs.active(data-tab='first') #{data.team1.name} Players
					a.item.menuTabs(data-tab='second') #{data.team2.name} Players
				.ui.bottom.attached.tab.segment.active(data-tab='first')
					table.ui.selectable.celled.table.orange.unstackable.structured.small
						thead
							tr
								th Player Name
								th Best Buyer 
									i.help.circle.outline.icon(style="font-size:0.9em", data-variation="wide",data-content="Price of buying (long) for the player.",data-position="top center")
								th Best Seller 
									i.help.circle.outline.icon(style="font-size:0.9em", data-variation="wide",data-content="Price of selling (short) for the player.",data-position="top center")
						tbody
							if data.team1.batsmen
								each batsmen, i in team1players
									if (batsmen.runsScored)
										tr
											td
												img(src="/images/#{data.team1.name}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												if (batsmen.keeper)
													img(src="/images/keeper.png" style="float:right; max-width:25px")
												else
													img(src="/images/bat.png" style="float:right; max-width:25px")
											td 
												.ui.button.green.mini.inverted.left.floated.buyButton Buy
												p(style="display:block; float:right;") #{Math.round(batsmen.runsScored*1.05* 100) / 100} points
												
											td 
												p(style="display:block; float:left;") #{Math.round(batsmen.runsScored*0.95*100) / 100} points
												.ui.button.red.mini.inverted.right.floated.sellButton Sell
									else
										tr
											td
												img(src="/images/#{data.team1.name}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												img(src="/images/ball.png" style="float:right; margin-top:10px; max-width:15px")
											td 
												.ui.button.green.mini.inverted.left.floated.buyButton Buy
												p(style="display:block; float:right;") #{Math.round(batsmen.wicketsTaken*20*1.05* 100) / 100} points

											td 
												p(style="display:block; float:left;") #{Math.round(batsmen.wicketsTaken*20*0.95* 100) / 100} points
												.ui.button.red.mini.inverted.right.floated.sellButton Sell
				.ui.bottom.attached.tab.segment(data-tab='second')
					table.ui.selectable.celled.table.orange.unstackable.structured.small
						thead
							tr
								th Player Name
								th Best Buyer 
									i.help.circle.outline.icon(style="font-size:0.9em", data-variation="wide",data-content="Price of buying (long) for the player.",data-position="top center")
								th Best Seller 
									i.help.circle.outline.icon(style="font-size:0.9em", data-variation="wide",data-content="Price of selling (short) for the player.",data-position="top center") 
						tbody
							if data.team2.batsmen
								each batsmen, i in team2players
									if batsmen.runsScored
										tr
											td
												img(src="/images/#{data.team2.name}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												if (batsmen.keeper)
													img(src="/images/keeper.png" style="float:right; max-width:25px")
												else
													img(src="/images/bat.png" style="float:right; max-width:25px")
											td 
												.ui.button.green.mini.inverted.left.floated.buyButton Buy
												p(style="display:block; float:right;") #{Math.round(batsmen.runsScored*1.05* 100) / 100} points
												
											td 
												p(style="display:block; float:left;") #{Math.round(batsmen.runsScored*0.95* 100) / 100} points
												.ui.button.red.mini.inverted.right.floated.sellButton Sell
									else
										tr
											td
												img(src="/images/#{data.team2.name}.png" style="vertical-align:middle; max-width:35px")
												| &nbsp #{batsmen.name}
												img(src="/images/ball.png" style="float:right; margin-top:10px; max-width:15px")
												| &nbsp
											td 
												.ui.button.green.mini.inverted.left.floated.buyButton Buy
												p(style="display:block; float:right;") #{Math.round(batsmen.wicketsTaken*20*1.05* 100) / 100} points
												
											td 
												p(style="display:block; float:left;") #{Math.round(batsmen.wicketsTaken*20*0.95* 100) / 100} points
												.ui.button.red.mini.inverted.right.floated.sellButton Sell

	.ui.mini.buying.modal
		.header
		.content
			.description
				| Buying Lots
			.ui.divider
			form.ui.form
				.fields
					.field
						label &nbsp
						input.ui.button.mini.primary.minusButton(type='button',field='b-quantity', value='-')
					.field
						label Lots
						input(type='number', name='b-quantity',value='1' )
					.field
						label &nbsp
						input.ui.button.mini.primary.plusButton(type='button',field='b-quantity', value='+')
				.fields
					.field
						label &nbsp
						input.ui.button.mini.primary.minusButton(type='button',field='b-price', value='-')
					.field.bPrice
						label Points
						input(type='number', name='b-price')
					.field
						label &nbsp
						input.ui.button.mini.primary.plusButton(type='button',field='b-price', value='+')
			.ui.divider
			.description1
		.actions
			.ui.negative.left.labeled.icon.button
				| Cancel
				i.remove.icon
			.ui.positive.right.labeled.icon.button
				| Buy
				i.checkmark.icon

	.ui.mini.selling.modal
		.header
		.content
			.description
				| Selling Lots
			.ui.divider
			form.ui.form
				.fields
					.field
						label &nbsp
						input.ui.button.mini.primary.minusButton(type='button',field='s-quantity', value='-')
					.field
						label Lots
						input(type='number', name='s-quantity', value='1')
					.field
						label &nbsp
						input.ui.button.mini.primary.plusButton(type='button', field='s-quantity', value='+')
				.fields
					.field
						label &nbsp
						input.ui.button.mini.primary.minusButton(type='button', field='s-price', value='-')
					.field.sPrice
						label Points
						input(type='number', name='s-price')
					.field
						label &nbsp
						input.ui.button.mini.primary.plusButton(type='button', field='s-price', value='+')
			.ui.divider
			.description1
		.actions
			.ui.negative.left.labeled.icon.button
				| Cancel
				i.remove.icon
			.ui.positive.right.labeled.icon.button
				| Sell
				i.checkmark.icon
block scripts
	script(src="/javascripts/game.js")