extends ../layout

block content
	.ui.hidden.divider
	.ui.very.relaxed.stackable.centered.grid
		.row
			.column.eleven.wide
				.ui.grid.centered
					.column.sixteen.wide
						h2.ui.dividing.header Blogs
						.ui.large.breadcrumb
							a.section(href="/") Home
							if search
								i.right.chevron.icon.divider
								a.section(href="/blog") Blog
								i.right.chevron.icon.divider
								.active.section Search for: #{searchQuery}
							else
								i.right.chevron.icon.divider
								.active.section(href="/blog") Blog
					.column.sixteen.wide
						.ui.segment.center.aligned.mobile.tablet.only.grid
							.ui.fluid.search
								form(method="get", action="/blog/search/page/1")
									.ui.icon.input
										input.prompt(name='searchQuery', type='text', placeholder='Search...')
										button.searchButton(type='submit')
											i.search.icon
					if posts
						each post, i in posts
							.column.sixteen.wide
								.ui.header.top.attached(style="border-bottom: 2px solid #ff851b")
									a(href="/blog/show/#{post._id}")!=post.head
								.ui.attached.segment.piled
									p.ui.orange.right.ribbon.label
										i.wait.icon
										| Posted on #{moment(post.date).format('LL')}
									br
									br
									.description(style="overflow-x:auto")!=(truncateText(post.body,200))
									.extra(style="margin-top:15px")
										a(href="/blog/show/#{post._id}#comments")
											.ui.tiny.inverted.orange.button
												| #{post.comments.length} Comments  
												i.comments.icon
										a(href="/blog/show/#{post._id}")
											.ui.tiny.inverted.orange.button
												| Read More
												i.right.chevron.icon
								br
								br
				if(posts.length>0)
					.ui.grid.centered
						.ui.secondary.pointed.orange.menu
							- page = parseInt(page)
							- pages = parseInt(pages)
							if(search)
								if(pages>1)
									if(page==1)
										a.active.item(href="/blog/search/page/#{page}?searchQuery=#{searchQuery}") #{page}
										a.item(href="/blog/search/page/#{page+1}?searchQuery=#{searchQuery}") #{page+1}
										.disabled.item ...
										a.item(href="/blog/search/page/#{pages}?searchQuery=#{searchQuery}") #{pages}
									if((page-1)>0)
										if((page-1)!=1)
											a.item(href="/blog/search/page/1?searchQuery=#{searchQuery}") #{1}
											.disabled.item ...
										a.item(href="/blog/search/page/#{page-1}?searchQuery=#{searchQuery}") #{page-1}
										a.active.item(href="/blog/search/page/#{page}?searchQuery=#{searchQuery}") #{page}
										if(page!=pages)
											if((page+1)!=pages)
												a.item(href="/blog/search/page/#{page+1}?searchQuery=#{searchQuery}") #{page+1}
												.disabled.item ...
											a.item(href="/blog/search/page/#{pages}?searchQuery=#{searchQuery}") #{pages}
								else
									a.active.item(href="/blog/search/page/#{page}?searchQuery=#{searchQuery}") #{page}
							else
								if(page==1)
									a.active.item(href="/blog/page/#{page}") #{page}
									a.item(href="/blog/page/#{page+1}") #{page+1}
									.disabled.item ...
									a.item(href="/blog/page/#{pages}") #{pages}
								if((page-1)>0)
									if((page-1)!=1)
										a.item(href="/blog/page/1") #{1}
										.disabled.item ...
									a.item(href="/blog/page/#{page-1}") #{page-1}
									a.active.item(href="/blog/page/#{page}") #{page}
									if(page!=pages)
										if((page+1)!=pages)
											a.item(href="/blog/page/#{page+1}") #{page+1}
											.disabled.item ...
										a.item(href="/blog/page/#{pages}") #{pages}
				else
					.ui.grid.centered
						.ui.column.five.wide.computer.only.sixteen.wide.mobile.tablet.only.grid.center.aligned
							br
							.ui.warning.message(style="font-size:12px")
								.header No results found for #{searchQuery}
			.column.five.wide
				.ui.segments
					.ui.segment.center.aligned.computer.only.grid
						.ui.fluid.search
							form(method="get", action="/blog/search/page/1")
								.ui.icon.input
									input.prompt(name='searchQuery', type='text', placeholder='Search...')
									button.searchButton(type='submit')
										i.search.icon
				.ui.segments
					.ui.segment.center.aligned
						p(style="font-size:18px") FEATURED BLOGS
					if featuredPosts
						each featuredPost, i in featuredPosts 
							.ui.orange.segment
								a(href="/blog/show/#{featuredPost._id}") #{featuredPost.head}
								br
								br
								.description(style="overflow-x:hidden; color:#6f6f6f")!=(truncateText(featuredPost.body,100))
				.ui.segments
					.ui.segment.center.aligned
						p(style="font-size:18px") THINKQUANT TWEETS
					.ui.orange.segment
						a.twitter-timeline( data-height="540px" data-chrome="nofooter noheader transparent noscrollbar" data-border-color="#F2721C" href="https://twitter.com/quant_think")
block scripts
	script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")