extends ../layout

block content
	.ui.hidden.divider
	.ui.very.relaxed.stackable.centered.grid
		.row
			.column.twelve.wide
				.ui.large.breadcrumb
					a.section(href="/") Home
					i.right.chevron.icon.divider
					a.section(href="/blog") Blog
					i.right.chevron.icon.divider
					.active.section(href="/blog/show/#{post._id}") Post
				.ui.header.top.attached(style="border-bottom: 2px solid #ff851b")
					a
						h3(href="/blog/show/#{post._id}")!=post.head
				.ui.attached.segment
					p.ui.orange.right.ribbon.label
						i.wait.icon
						| Posted on #{moment(post.date).format('LL')}
					br
					br
					.description(style="overflow-x:auto")!=post.body
					each tag, i in post.tags
						a.ui.orange.label=tag
				br
				br
				.ui.grid.centered
					.ui.compact.pointed.orange.menu
						if(previous)
							a.item(href="/blog/show/#{previous._id}")
								i.arrow.left.icon.orange
								| previous
						if(next)
							a.item(href="/blog/show/#{next._id}") next &nbsp
								i.arrow.right.icon.orange
				.ui.grid.centered
					.row
						.column.sixteen.wide
							.ui.segment
								.ui.comments#comments
									h3.ui.dividing.header Comments
									if(post.comments.length)
										each comment, i in post.comments
											.comment
												a.avatar
													img(src='/images/matt.jpg')
												.content
													a.author #{comment.author.name}
													.text
														p!=comment.text
													if user
														-var id1 = " "+comment.author._id
														-var id2 = " "+user._id
														if(id1===id2)
															.actions
																form(method="post", action="/blog/deleteComment")
																	input(name='userId', type='hidden', value='#{user._id}')
																	input(name='authorId', type='hidden',value='#{comment.author._id}')
																	input(name='postId', type='hidden', value='#{post._id}')
																	input(name='commentId', type='hidden', value='#{comment._id}')
																	button.ui.deleteButton(type='submit') Delete
									else
										p No comments.
								if user
									form.ui.reply.form.addComment(method="post", action="/blog/addComment")
										.ui.error.message
										input(name='userId', type='hidden', value='#{user._id}')
										input(name='postId', type='hidden', value='#{post._id}')
										.field
											textarea(name='comment', type='text', placeholder='Write comment...')
										button.ui.orange.submit.labeled.icon.button.commentsButton(type='submit')
											i.icon.edit
											|  Add Comment
								else
									.ui.info.message
										p
											| Please 
											span
												a(href="/users/login") login 
											|  first to add comment