extends ../layout

block content
	.ui.hidden.divider
	.ui.very.relaxed.stackable.centered.grid
		.row
			.column.twelve.wide
				.ui.segment(style="overflow-x:auto")
					a(href="/blog/show/#{post._id}")
						h2!=post.head
				p.ui.orange.right.ribbon.label Posted on #{moment(post.date).format('LL')}
					p!=post.body
					br
					each tag, i in post.tags
						a.ui.orange.label=tag